// Import your components CSS files here.
@import "card";
@import "avatar";
@import "navbar";
@import "footer";
@import "banner";
@import "alert";
@import "cardgrid";
@import "modal";
@import "button";
.container {
  max-width: 950vh;
  min-height: 100vh;
  background-color: #c5a765;
}

h1{
  color:white;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;

}

a{
  color: white;
}

li{
  list-style-type: none;

}
h2 {
  color: white;
  font-family: 'Cormorant Garamond', serif;

}
